html {
    background: black;
}

body {
    background-image: url("../images/background.jpg") ;
    background-size: cover;
    color: black;
    padding-top: 50px;
    padding: 2%;
    margin: 4%;
    font-family: caslon, plantin, sabon, "hoefler text";
}



h2,h3,h4 {
    color: firebrick;
}

h4{
    text-transform: uppercase;
}

a {
    color: black;

}

a:hover {
    color:firebrick;
    text-decoration: ;
}

a: visited {
    color: blue;
    text-decoration: underline;
}

footer {
    margin: 20px ;
}

p {
    text-align: left;

}

.blockquote {
    background: #eee;
    padding: 15px;
    display: block;
    font-size: 14px;
    border-left: 5px solid RGBA(0, 0, 0, 0.18);

}

.bold {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.center {
    margin-top: 70px;
    width: 100%
}


.photoBorder {
    border:1px;
    border-style: solid;
    color: black;
    background-color: white;
}

.smalltitle {
    color: #A9A9A9;
    font-size: 15px
}

#banner {
    background-image: url("../images/nature.jpg");
    height: 300px;
    background-size: 130%;
}

#pagecontent {
    margin-top: 35px;
}




